---
Title: All Articles
---

@model Posts

@{
    const int numberOfRecentPosts = 5;
    var sortedPosts = Model.AllPosts.OrderByDescending(x => x.Document.GetLastUpdatedDate()).ToList();
    var groups = sortedPosts.GroupBy(x => x.Document.GetCategory()).OrderBy(x => x.Key);
    var recentPosts = sortedPosts.Take(numberOfRecentPosts);
}

<h2> @numberOfRecentPosts Most Recent Posts</h2>
@foreach (var post in recentPosts)
{
    <div>
        <a href="@post.Document.GetPageUrl()" class="mb-4">@post.Document.GetTitle()</a> - <time class="prose-sm" datetime="@post.Document.GetLastUpdatedDate().ToString("yy-MM-dd")">@post.Document.GetLastUpdatedDate().ToString("MMMM dd, yyyy")</time>
    </div>
}

<h2>By Category</h2>

@foreach (var group in groups)
{
    var header = $"{group.Key} ({group.Count()})";
    <h3 class="py-4 border-b border-grey-lighter capitalize">@header</h3>
    @foreach (var post in group)
    {
        <div>
            <a href="@post.Document.GetPageUrl()" class="mb-4">@post.Document.GetTitle()</a> - <time class="prose-sm" datetime="@post.Document.GetLastUpdatedDate().ToString("yy-MM-dd")">@post.Document.GetLastUpdatedDate().ToString("MMMM dd, yyyy")</time>
        </div>
    }
}
